@use '../../styles/variables' as v;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Footer {
  width: 100%;
  background-color: v.$color-primary;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: v.$color;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: -2rem;
}
